// *** Media width *** //
$xs-media: 320px;
$sm-media-z: 575.98px;
$sm-media: 576px;
$md-media-z: 767.98px;
$md-media: 768px;
$lg-media-z: 991.98px;
$lg-media: 992px;
$xl-media-z: 1199.98px;
$xl-media: 1200px;
$xxl-media: 1400px;
