* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  letter-spacing: $bsLetterSpacing;
  min-height: 100vh;
  display: flex;
  min-width: 320px;
}

div#root {
  width: 100%;
  display: flex;
}

div.App {
  width: 100%;
}

a {
  transition: 0.2s;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  &.container-full {
    max-width: 1166px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1215px;
  }
}

.ant-scrolling-effect {
  .main-layout_inner-wrapper {
    filter: blur(5px);
  }
}

$sm: 767px;

.btn {
  line-height: 48px;
  background: #4b556f;
  color: #fff;
  border-radius: 16px;
  padding: 0 30px;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background: darken(#4b556f, 5%);
  }

  &[disabled] {
    background: #9399a8;
  }

  &--size-small {
    line-height: 32px;
    font-size: 14px;
    padding: 0 15px;
  }
}

.form-block {
  background: #fff;
  padding: 80px 50px 60px;
  max-width: 440px;
  box-shadow: 0px 2px 17px rgba(120, 120, 120, 0.1);
  border-radius: 16px;
  width: 100%;
  min-height: 500px;
  display: flex;
  @media screen and (max-width: 992px) {
    min-height: auto;
  }
  @media screen and (max-width: $sm) {
    max-width: 100%;
    padding: 40px 30px;
    text-align: center;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  &__description {
    font-size: 12px;
    line-height: 1.4;
    color: #4b556f;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .segmented-input {
    margin: auto 0;
    @media screen and (max-width: 992px) {
      margin: 30px 0;
    }
  }
  .btn {
    width: 100%;
  }
}

.segmented-input {
  display: flex;
  justify-content: center;

  input {
    margin: 0 5px;
    width: 40px !important;
    border: none;
    border-bottom: 1px solid #c9ccd3;
    height: 40px;
    text-align: center;
    font-size: 24px;
    color: #000;
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.started-module {
  display: flex;
  width: 100%;
  @media screen and (max-width: $sm) {
    flex-wrap: wrap;
  }
  &__logo {
    margin-top: 60px;
    display: block;
    margin-bottom: 10px;
  }
  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
  }
  &__col {
    width: 50%;
    @media screen and (max-width: $sm) {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 80px 0;

  @media screen and (max-width: $sm) {
    padding: 40px 0;
  }

  .form-block {
    margin-left: auto;
  }

  .started-module {
    margin: auto;
  }
}

.icon-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 16px;
  }
}

.page {
  background: #fafafa;
  box-shadow: 0px 2px 17px rgba(120, 120, 120, 0.1);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  &__top {
    background: #fff;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 25px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 2px 17px rgba(120, 120, 120, 0.1);
    @media screen and (max-width: $sm) {
      font-size: 16px;
    }
  }
  &__content {
    padding: 15px;
  }
  .icon-button {
    margin-right: 15px;
    margin-left: -15px;
  }
  .alert {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.circle-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  img {
    height: 60%;
  }
  &--warning {
    background: #fd8e3e;
  }
}

.alert {
  background: rgba(253, 142, 62, 0.1);
  border-radius: 12px;
  padding: 20px 15px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  &__close {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    cursor: pointer;
    img {
      width: 12px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  .circle-icon {
    flex-shrink: 0;
    margin-right: 13px;
  }
}

.user-info {
  min-width: 230px;
  &__title {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: $sm) {
      font-size: 14px;
    }
  }
  &__subtitle {
    font-size: 14px;
    color: #4b556f;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    @media screen and (max-width: $sm) {
      font-size: 12px;
    }
  }
  @media screen and (max-width: $sm) {
    max-width: 110px;
    min-width: auto;
  }
}

.td-buttons {
  text-align: right;
}

.th-button {
  &--sorting {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url("../../../common/images/svg/arrow-sorting.svg") center no-repeat;
      background-size: contain;
      margin-left: 5px;
    }
  }
  &.is-active {
    span {
      color: #4b556f !important;
    }
  }
}

.table-module {
  @media screen and (max-width: $sm) {
    overflow-x: auto;
    margin-left: -15px;
    margin-right: -15px;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    font-weight: 400;
  }
  th,
  td {
    padding: 15px;
    $radius: 8px;
    &:first-child {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
    &:last-child {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    @media screen and (max-width: $sm) {
      padding: 10px;
    }
  }
  th {
    text-align: left;
    color: #9399a8;
    font-size: 12px;
    background: #f1f1f1;
  }
  tbody {
    tr {
      box-shadow: 0px 2px 17px rgba(120, 120, 120, 0.1);
    }
  }
  td {
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    background: #fff;
  }
}
