.reserves-page {
  &_wrapper {
    padding: 10vh 0;
    height: calc(100vh);
    display: flex;
    .container {
      height: 100%;
    }
  }
  &_inner-wrapper {
    position: relative;
    background: #fafafa;
    box-shadow: 0 2px 17px rgba(120, 120, 120, 0.1);
    border-radius: $bsBorderRadius;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &_head {
    &__wrapper {
      position: sticky;
      top: 0;
      width: 100%;
      background: $white;
      display: flex;
      align-items: center;
      padding: 5px 25px;
      font-weight: 500;
      font-size: 18px;
      border-radius: $bsBorderRadius $bsBorderRadius 0 0;
      box-shadow: 0 2px 17px rgba(120, 120, 120, 0.1);
      z-index: 1;
      flex: 0 0 auto;
    }
    &__back {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $circleBorderRadius;
      margin-right: 15px;
      flex: 0 0 auto;
      img {
        height: 16px;
      }
      &:hover {
        background-color: $light-gray;
      }
    }
  }
  &_body {
    padding: 0 15px 15px;
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 65px);
  }
  &_placeholder {
    &__wrapper {
      padding: 10vh 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &__actions {
      .btn-custom {
        padding: 10px 40px;
      }
    }
  }

  &_table {
    &__wrapper {
      margin-top: 20px;
    }
    &__head {
      &._wrapper {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        background-color: $seashell;
        border-radius: $mdBorderRadius;
        box-shadow: 0 1px 1px rgba(120, 120, 120, 0.1);
      }
      &._item-col {
        color: #9399a8;
        font-size: $xsFontSize;
        line-height: $xsLineHeight;
        transition: 0.2s;
        &:hover {
          background-color: #ededed;
        }
        &:first-child {
          border-radius: $mdBorderRadius 0 0 $mdBorderRadius;
        }
        &:last-child {
          border-radius: 0 $mdBorderRadius $mdBorderRadius 0;
        }
        .th-button {
          justify-content: center;
          padding: 16px 0;
          span {
            display: inline-flex;
            align-items: center;
          }
        }
      }
    }
    &__body {
      &._item-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        padding: 16px 0;
        background-color: $white;
        border-radius: $mdBorderRadius;
        box-shadow: 0 2px 17px rgba(120, 120, 120, 0.1);
      }
    }
    &__head,
    &__body {
      &._item-col {
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
        &._fullname {
          width: 50%;
          max-width: 420px;
          .th-button {
            justify-content: flex-start;
          }
        }
        &._datetime {
          width: 160px;
          text-align: center;
          flex: 0 0 auto;
          margin: 0 10px;
        }
        &._guests {
          width: 70px;
          text-align: center;
          flex: 0 0 auto;
          margin: 0 10px;
        }
        &._amount {
          width: 125px;
          text-align: center;
          flex: 0 0 auto;
          margin: 0 10px;
        }
        &._action {
          width: 146px;
          flex: 0 0 auto;
          display: inline-flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.icon-button {
  margin-right: 15px;
  margin-left: -15px;
}

.alert {
  &_wrapper {
    background: rgba(253, 142, 62, 0.1);
    border-radius: $mdBorderRadius;
    padding: 20px 40px 20px 15px;
    margin-top: 20px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    &.closed {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.5s ease-out, padding-top 0.5s ease-out,
        padding-bottom 0.5s ease-out, opacity 0.5s ease-out, visibility 0s 0.5s,
        margin-top 0.5s;
    }
    .circle-icon {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 13px;
      background: #ccc;
      img {
        height: 60%;
      }
      &--warning {
        background: #fd8e3e;
      }
    }
  }

  &_close {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $circleBorderRadius;
    transition: 0.3s;
    img {
      width: 50%;
    }
    &:hover {
      background-color: rgba(253, 142, 62, 0.7);
    }
  }

  &_row {
    display: flex;
    align-items: center;
  }
}

.user-info {
  &__title {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    font-size: 14px;
    color: #4b556f;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

.th-button {
  user-select: none;
  &--sorting {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background: url("../../../../../common/images/svg/arrow-sorting.svg") center
        no-repeat;
      background-size: contain;
      margin-left: 5px;
      transition: transform 0.2s ease;
    }
  }
  &.is-active {
    span {
      color: #4b556f !important;
    }
  }

  &--rotate {
    &:after {
      transform: rotate(-180deg);
    }
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  &_item__wrapper {
    width: 100%;
    margin-top: 12px;
    height: 62px;
    border-radius: 12px;
    background-color: #ddd;
    animation: fadeAnimation 1.2s infinite;
    &._head {
      height: 46px;
      margin-top: 20px;
    }
  }
}
