@media (min-width: $md-media) and (max-width: $lg-media-z) {
  .reserves-page {
    &_table {
      &__head,
      &__body {
        &._item-col {
          font-size: 14px;
          &._fullname {
            width: 50%;
          }
          &._datetime {
            width: 115px;
          }
          &._guests {
            width: 60px;
          }
          &._amount {
            width: 100px;
          }
          &._action {
            width: 116px;
            .btn-custom {
              font-size: 12px;
              font-weight: normal;
            }
          }
        }
      }
      &__head {
        &._item-col {
          font-size: 12px !important;
        }
      }
    }
  }

  .user-info {
    &__title {
      word-break: break-word;
    }
  }
}

@media (min-width: $sm-media) and (max-width: $md-media-z) {
  .reserves-page {
    &_table {
      &__head,
      &__body {
        &._item-col {
          font-size: 14px;
          &._fullname {
            width: 50%;
          }
          &._datetime {
            width: 70px;
            display: inline-flex;
            flex-direction: column;
            span {
              &:nth-child(2) {
                margin-top: 5px;
              }
            }
          }
          &._guests {
            width: 44px;
          }
          &._amount {
            width: 90px;
          }
          &._action {
            width: 52px;
          }
        }
      }
      &__head {
        &._item-col {
          font-size: 12px !important;
        }
      }
    }
  }

  .user-info {
    &__title {
      font-size: 14px;
      word-break: break-word;
    }
    &__subtitle {
      font-size: 12px;
    }
  }
}

@media (min-width: $xs-media) and (max-width: $sm-media-z) {
  .reserves-page {
    &_wrapper {
      padding: 0;
      .container {
        padding: 0;
      }
    }
    &_inner-wrapper {
      border-radius: 0;
    }
    &_head {
      &__wrapper {
        border-radius: 0;
      }
      &__back {
        background-color: $light-gray;
      }
    }
    &_table {
      &__head,
      &__body {
        &._item-col {
          font-size: 12px;
          margin: 0 !important;
          &._fullname {
            width: 50%;
          }
          &._datetime {
            width: 50px;
            display: inline-flex;
            flex-direction: column;
            span {
              &:nth-child(2) {
                margin-top: 5px;
              }
            }
          }
          &._guests {
            width: 40px;
          }
          &._amount {
            width: 80px;
          }
          &._action {
            width: 52px;
          }
        }
      }
      &__head {
        &._item-col {
          font-size: 12px !important;
        }
      }
    }
  }

  .user-info {
    &__title {
      font-size: 12px;
      word-break: break-word;
    }
    &__subtitle {
      font-size: 12px;
    }
  }
}
