.error-page {
  &_wrapper {
    padding: 50px 0;
    .container {
      justify-content: center;
    }
  }
  &_content {
    &__wrapper {
      background-color: $white;
      padding: 30px;
      max-width: 440px;
      box-shadow: 0 2px 17px rgba(120, 120, 120, 0.1);
      border-radius: $bsBorderRadius;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 5.25rem;
      line-height: 5.25rem;
      color: $primaryColor;
      font-weight: bold;
      text-align: center;
    }
    &__sub-title {
      margin-bottom: 20px;
      font-size: $xlFontSize;
      line-height: $xlLineHeight;
      text-align: center;
    }
    &__text {
      margin-bottom: 20px;
      text-align: center;
    }
    &__actions {
      display: flex;
      justify-content: center;
      .btn-custom {
        padding: 15px 70px;
      }
    }
  }
}
