.started-module {
  &_wrapper {
    display: flex;
    width: 100%;
    padding: 50px 0;
  }
  &_logo {
    display: block;
    margin-bottom: 10px;
  }
  &_description {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  &_col {
    width: 50%;
    display: flex;
    &._left-side {
      padding-top: 60px;
      flex-direction: column;
    }
    &._right-side {
      justify-content: flex-end;
    }
  }
  &_form {
    &__wrapper {
      display: flex;
      background: #fff;
      padding: 60px 50px;
      max-width: 440px;
      box-shadow: 0 2px 17px rgba(120, 120, 120, 0.1);
      border-radius: $bsBorderRadius;
      width: 100%;
    }
    &__title {
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 10px;
      margin-top: 0;
    }
    &__description {
      font-size: 12px;
      line-height: 1.4;
      color: #4b556f;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__content {
      display: flex;
      flex-direction: column;
      height: inherit;
      .btn-custom {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
