.form-field_wrapper._select {
  &._disabled {
    .form-field_label {
      color: $gray;
      cursor: not-allowed !important;
    }
  }
  .form-field_field {
    .custom-select {
      &__control {
        width: $selectFieldWidth;
        background-color: $white;
        border-radius: $mdBorderRadius;
        border: $borderPrimary;
        cursor: pointer;
        box-shadow: none !important;
        &--is-focused {
          border-color: $primaryColorLighten;
        }
        &--is-disabled {
          cursor: not-allowed !important;
          background-color: $disabledColor;
        }
      }
      &__value-container {
        padding: 6px 10px;
      }
      &__menu {
        z-index: $zIndexCustomSelect;
        width: $selectFieldWidth;
      }
    }
  }
}
