.form-field_wrapper._suggest-address {
  .react-autosuggest {
    &__input {
      padding: 10px 12px;
      background-color: $white;
      border-radius: $mdBorderRadius;
      border: $borderPrimary;
      transition: 0.2s;
      width: $textareaFieldWidth;
      outline: none !important;
      &--focused {
      }
    }
    &__container {
      position: relative;
    }
    &__suggestions-container {
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      z-index: $zIndexCustomSelect;
    }
    &__suggestions-list {
      min-width: $inputFieldWidth;
      max-width: $textareaFieldWidth;
      background-color: $white;
      border: $borderPrimary;
      border-radius: $smBorderRadius;
      box-shadow: $bsBoxShadow;
      padding: 4px 0;
      margin: 0;
      list-style-type: none;
      max-height: 300px;
      overflow-y: auto;
    }
    &__suggestion {
      padding: 8px 12px;
    }
    &__suggestion--highlighted {
      cursor: pointer;
      background-color: $defaultColorHover;
    }
  }
}
