.btn-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $bsFontSize;
  text-decoration: none;
  text-align: center;
  border-radius: $bsBorderRadius;
  box-sizing: border-box;
  font-weight: bold;
  border: 1px solid $primaryColor;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px;
  color: $white;
  background-color: $primaryColor;
  &:hover {
    background-color: $white-lilac;
  }
}

.btn-custom.btn-primary,
.btn-custom.btn-link {
  &.danger {
    background-color: $dangerColor;
    border-color: $dangerColor;
    color: $textColorWhite;
    &:hover {
      background-color: $dangerColorHover;
      border-color: $dangerColorHover;
    }
    &:disabled,
    &[disabled] {
      border-color: $dangerColorLighten;
      background-color: $dangerColorLighten;
    }
  }
  &.primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $white;
    &:hover {
      background-color: $primaryColorHover;
      border-color: $primaryColorHover;
    }
    &:disabled,
    &[disabled] {
      border-color: $primaryColorLighten;
      background-color: $primaryColorLighten;
    }
  }
  &.default {
    background-color: $defaultColor;
    border-color: $defaultColor;
    color: $textColorPrimary;
    &:hover {
      background-color: $defaultColorHover;
      border-color: $defaultColorHover;
    }
    &:disabled,
    &[disabled] {
      border-color: $defaultColorLighten;
      background-color: $defaultColorLighten;
    }
  }
}
