.btn-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $bsFontSize;
  font-family: $primaryFontBold;
  text-decoration: none;
  text-align: center;
  border-radius: $bsBorderRadius;
  box-sizing: border-box;
  font-weight: bold;
  border: 1px solid $primaryColor;
  transition: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  color: $textColorPrimary;
  background-color: $textColorWhite;
  &:hover {
    background-color: $white-lilac;
  }
  &._danger {
    background-color: $dangerColor;
    border-color: $dangerColor;
    color: $textColorWhite;
    &:hover {
      background-color: $dangerColorHover;
    }
  }
}
